[submodule "nvim"]
	path = nvim
	url = git@github.com:cjvnjde/dotfiles.nvim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:cjvnjde/dotfiles.tmux.git
[submodule "home"]
	path = home
	url = git@github.com:cjvnjde/dotfiles.home.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:cjvnjde/dotfiles.alacritty.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:cjvnjde/dotfiles.scripts.git
[submodule "sway"]
	path = sway
	url = git@github.com:cjvnjde/dotfiles.sway.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:cjvnjde/dotfiles.waybar.git
[submodule "lf"]
	path = lf
	url = git@github.com:cjvnjde/dotfiles.lf.git
[submodule "rofi"]
	path = rofi
	url = git@github.com:cjvnjde/dotfiles.rofi.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:cjvnjde/dotfiles.kitty.git
[submodule "dunst"]
	path = dunst
	url = git@github.com:cjvnjde/dotfiles.dunst.git
[submodule "onedrive"]
	path = onedrive
	url = git@github.com:cjvnjde/dotfiles.onedrive.git
